.logout:hover {
  background-color: #1e1e1e;
}

.content {
  margin-left: 210px;
  margin-top: 10px;
  padding: 20px;
  transition: margin-left 0.3s ease;
}

.sidebar.collapsed {
  width: 65px;
}

.sidebar.collapsed .text {
  display: none;
}

.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 18px;
  gap: 10px;
  background-color: #f0f0f0;
  color: #848383;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 40px;

}

.back-link:hover {
  background-color: #e0e0e0;
}

.back-link .icon {
  font-size: 20px;
}

.agregar-docente {
  text-align: center;
  margin-top: 30px;
}

.agregar-docente h2 {
  font-size: 40px;
  font-weight: 600;
  color: #1E1E1E;
  margin-bottom: 20px;
}

.form-docente {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48%;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #1E1E1E;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  background-color: #f8f8f8;
  outline: none;
  transition: all 0.2s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #7ba23f;
  background-color: #fff;
}


.form-row.single {
  justify-content: flex-start;
}

.form-row.single .form-group {
  width: 48%;
}

.select-wrapper {
  position: relative;
  width: 100%;
}


.select-wrapper select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  padding: 10px 40px 10px 14px; 
  background-color: #f8f8f8;
  border: 1px solid #ddd;
  border-radius: 20px;
  width: 100%;
  font-size: 14px;
  cursor: pointer;
  outline: none;
  transition: border 0.2s, background 0.2s;
}

.select-wrapper select:focus {
  border-color: #7ba23f;
  background-color: #fff;
}

.icono-select {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  pointer-events: none; 
  opacity: 0.7;
}

.select-wrapper:hover .icono-select {
  opacity: 1;
}

.boton-agregar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.boton-agregar button {
  background-color: #9BAD4B;
  color: #ffffff;
  border: none;
  padding: 14px 40px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.2s;
  font-weight: 0;
}


.boton-agregar button:hover {
  background-color: #89971E;
}

.btn-agregar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px; 
}

.btn-agregar .btn-icon {
  width: 20px;
  height: 20px;
}