.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 18px;
  gap: 10px;
  background-color: #f0f0f0;
  color: #848383;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 40px;

}
.back-link:hover {
  background-color: #ffffff;
}

.back-link .icon {
  font-size: 20px;
}

.agregar-estudiante {
  text-align: center;
  margin-top: 30px;
}

.agregar-estudiante h2 {
  font-size: 40px;
  font-weight: 600;
  color: #1E1E1E;
  margin-bottom: 40px;
}

.form-contenedor {
  display: flex;
  justify-content: space-between;
  gap: 60px;
  width: 90%;
  margin: 0 auto;
}

.form-columna {
  width: 48%;
}

.form-columna h3 {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
  color: #1E1E1E;
}

.form-group {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  text-align: left;
}

.form-group label {
  font-weight: 600;
  font-size: 16px;
  margin-bottom: 6px;
  color: #1E1E1E;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #848383;
  border-radius: 20px;
  background-color: #F6F6F6;
  font-size: 14px;
  outline: none;
  transition: all 0.2s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #7ba23f;
  background-color: #ffffff;
}


.boton-agregar {
  display: flex;
  justify-content: center;
  margin-top: 40px;
}

.boton-agregar button {
  background-color: #9BAD4B;
  color: #ffffff;
  border: none;
  padding: 14px 40px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
  display: flex;
  align-items: center;
  gap: 10px;
}

.boton-agregar button:hover {
  background-color: #89971E;
  transform: scale(1.03);
}

.boton-agregar .btn-icon {
  width: 18px;
  height: 18px;
}
