.welcome-container {
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 min-height: 40vh;
 padding: 20px;
 text-align: center;
 }
 
.welcome-title {
 font-size: 32px; 
 font-weight: bold;
 color:#1E1E1E;
 margin-bottom:20px;
 margin-top: 20px;
 }

 .welcome-description {
 font-size: 20px;
 font-weight: bold;
 color: #1E1E1E;
 max-width: 600px;
 line-height: 1.6;
 margin-bottom: 20px;
 }

 .welcome-image {
 max-width: 400px;
 width: 100%;
 height: auto;
 margin-top: 20px;
 }

  .welcome-image img {
 width: 100%;
 height: auto;
}