.acciones-superiores {
  display: flex;
  justify-content: center;
  gap: 450px;
  align-items: center;
  margin-bottom: 25px;
  padding: 0 30px;
}

.calificaciones-section {
  text-align: center;
  margin-top: 30px;
}

.titulo {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 25px;
  color: #1e1e1e;
}

.grupo{
  font-size: 16px;
  font-weight: 600;
  color: #1e1e1e;
  margin-top: 5px;
}

.container {
    width: 90%;
    max-width: 1100px;
    margin: 20px auto;
    text-align: center;
}

.select-section {
    text-align: left;
    margin-bottom: 20px;
}

.select-asignatura {
    position: relative;
    width: 260px;
}

.select-asignatura select {
    width: 100%;
    height: 40px;
    background: #f5f5f5;
    border: none;
    border-radius: 20px;
    padding: 0 40px 0 18px;
    font-size: 14px;
    color: #1e1e1e;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    cursor: pointer;
    outline: none;
}

.icono-select {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 18px;
  height: 18px;
  pointer-events: none; 
  opacity: 0.7;
}

.table-container {
    background: white;
    border-radius: 16px;
    padding: 20px;
    box-shadow: 0 2px 10px #0001;
}

table {
    width: 100%;
    border-collapse: collapse;
}

thead {
    background: #f9fafb;
}

th, td {
    padding: 10px;
    font-size: 14px;
    text-align: left;
    border-bottom: 1px solid #eee;
}

table input[type="number"] {
    width: 60px;
    padding: 6px;
    border-radius: 6px;
    border: 1px solid #ccc;
    background: #ffffff;
    font-size: 14px;
    text-align: center;
    outline: none;
    transition: 0.2s;
}

table input[type="number"]:focus {
    border-color: #7aa6ff;
    box-shadow: 0 0 4px #7aa6ff55;
}

table input[type="number"]::-webkit-inner-spin-button,
table input[type="number"]::-webkit-outer-spin-button {
    margin: 0;
}

.boton-editar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn-editar {
  background-color: #5596E2; 
  color: white;
  border: none;
  padding: 10px 30px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-editar .btn-icon {
  width: 18px;
  height: 18px;
}

.btn-editar:hover {
  background-color: #3073C2;
  transform: scale(1.03);
}