.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 8px 18px;
  gap: 10px;
  background-color: #f0f0f0;
  color: #848383;
  font-size: 16px;
  border: none;
  border-radius: 20px;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.25);
  cursor: pointer;
  transition: background 0.2s;
  margin-top: 40px;
}

.back-link:hover {
  background-color: #e0e0e0;
}

.back-link .icon {
  font-size: 20px;
}

.editar-docente {
  text-align: center;
  margin-top: 30px;
}

.editar-docente h2 {
  font-size: 40px;
  font-weight: 600;
  color: #1e1e1e;
  margin-bottom: 40px;
}

.form-docente {
  width: 80%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  justify-content: flex-start;
  gap: 40px;
}

.form-row.three .form-group {
  width: 32%;
}

.form-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 48%;
}

.form-group label {
  margin-bottom: 8px;
  font-weight: 600;
  font-size: 16px;
  color: #1e1e1e;
}

.form-group input,
.form-group select {
  width: 100%;
  padding: 10px 14px;
  border: 1px solid #ddd;
  border-radius: 20px;
  font-size: 14px;
  background-color: #f8f8f8;
  outline: none;
  transition: all 0.2s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #7ba23f;
  background-color: #fff;
}

.iconpasswor {
  position: absolute;
  right: 10px;
  top: 18px;
  transform: translateY(-50%);
  background: transparent;
  border: none;
  cursor: pointer;
  font-size: 20px;
}

.form-row.single {
  justify-content: flex-start;
}

.form-row.single .form-group {
  width: 48%;
}

.boton-editar {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.btn-editar {
  background-color: #5596E2; 
  color: white;
  border: none;
  padding: 14px 40px;
  border-radius: 30px;
  font-size: 18px;
  cursor: pointer;
  transition: background 0.2s, transform 0.1s;
  font-weight: 500;
  display: flex;
  align-items: center;
  gap: 10px; 
}

.btn-editar .btn-icon {
  width: 18px;
  height: 18px;
}

.btn-editar:hover {
  background-color: #3073C2;
  transform: scale(1.03);
}
