h2 {
    font-weight: 600;
    margin-bottom: 20px;
}

.search-box {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

.search-box input {
    width: 250px;
    padding: 8px 15px;
    border-radius: 20px;
    border: 1px solid #ccc;
    font-size: 14px;
    outline: none;
}

.students-table {
    width: 100%;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0px 2px 10px rgba(0,0,0,0.1);
    border-radius: 15px;
    overflow: hidden;
}

.students-table th {
    background-color: #f8f8f8;
    padding: 12px;
    text-align: left;
    font-weight: 600;
    font-size: 14px;
    color: #333;
}

.students-table td {
    padding: 12px;
    text-align: left;
    border-top: 1px solid #f1f1f1;
    font-size: 14px;
}

.students-table tbody tr:hover {
    background-color: #fafafa;
}

.delete-btn {
    background-color: #e74c3c;
    border: none;
    color: white;
    font-size: 16px;
    border-radius: 20px;
    padding: 5px 10px;
    cursor: pointer;
    transition: background 0.3s;
}

.delete-btn:hover {
    background-color: #c0392b;
}

 .btn-eliminar {
  border: none;
  border-radius: 35px;
  width: 50px;
  height: 40px;
  cursor: pointer;
  font-size: 20px;
  margin: 5px 10px;
}

.btn-eliminar {
  background-color: #e14c4c;
  color: white;
}

.acciones-superiores {
  display: flex;
  justify-content: center;
  gap: 450px;
  align-items: center;
  margin-bottom: 25px;
  padding: 0 30px;
}

.agregar {
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-agregar {
  background-color: #7ba23f;
  color: white;
  border: none;
  padding: 8px 16px;
  border-radius: 20px;
  cursor: pointer;
  transition: background 0.2s;
}

.btn-agregar:hover {
  background-color: #6b9235;
}

.icono-agregar {
  width: 16px;
  height: 16px;
  margin-right: 6px;
  vertical-align: middle;
}