* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", sans-serif;
}

body {
    background-color: #ffffff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 60px;
    background-color: #333;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    z-index: 1000;
}

.left-section {
    display: flex;
    align-items: center;
    gap: 10px;
}

.menu-btn {
    font-size: 24px;
    cursor: pointer;
}

.logo {
    font-size: 22px;
    font-weight: bold;
}


.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.user-info .text-info {
    text-align: right;
}

.user-info .role {
    font-size: 13px;
    font-weight: bold;
}

.user-info .name {
    font-size: 12px;
    color: #ddd;
}

.user-info .avatar img {
    width: 40px;
    height: 40px;
    background-color: #6e9599;
    border-radius: 50%;
}


.sidebar {
    position: fixed;
    top: 60px;
    left: 0;
    width: 210px;
    height: calc(100vh - 60px);
    background-color: #383838;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: width 0.3s ease;
    overflow: hidden;
}

.menu-list {
    list-style: none;
    padding: 0;
    margin: 0;
}


.menu-list li {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    margin: 4px 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
    text-decoration: none;
}

.menu-list li:hover {
    background-color: #1e1e1e;
}

.menu-list li a {
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: inherit;
    width: 100%;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

.menu-list li a:hover {
    background-color: #1e1e1e;
}



.icon {
    font-size: 18px;
    width: 25px;
    text-align: center;
}

.text {
    font-size: 15px;
}


.logout {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 12px 20px;
    margin: 8px;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.2s;
}

.logout:hover {
    background-color: #1e1e1e;
}

.content {
    margin-left: 210px;
    margin-top: 60px;
    padding: 20px;
    transition: margin-left 0.3s ease;
}


.sidebar.collapsed {
    width: 65px;
}

.sidebar.collapsed .text {
    display: none;
}

.sidebar.collapsed .menu-list li,
.sidebar.collapsed .logout {
    justify-content: center;
}

.content.compact {
    margin-left: 65px;
}
